@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pBackground: #2b3f89;
    --sBackground: #8db64f;
}
.swal2-confirme{
    background-color: var(--pBackground) !important;
}
label{
    font-size: smaller;
    font-weight: 700;
}
select {
    outline: none;
    box-shadow: none !important;
}
.form-select::after{
    border: white !important;
    color: white !important;
}
.select-option {
    padding: 8px 14px !important;
    font-size: 14px !important;
}

input {
    border: 1px solid #2b3f89 !important;
    outline: none;
    box-shadow: none !important;
}

input:focus {
    outline: none;
    /* Removes the default outline */
}

input::placeholder {
    font-size: small;
}

* {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.header {
    font-size: 32px;
    color: var(--pBackground) !important;
}

.s-text {
    font-size: 12px;
    color: var(--scolor);
    font-weight: 800;
}

.text {
    font-size: small;
    font-weight: 700;
}

.heading {
    font-size: 25px;
    color: #2d3e8e;
    font-weight: 800;
}

.import2 {
    text-decoration: none;
    border-radius: 6px;
    margin-right: 9px;
    text-align: center;
    width: auto;
    padding: 6px 12px;
    background: #2b3f89;
    border: 2px solid #2b3f89;
    font-size: .8125rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: white;
    cursor: pointer;
}

.import2:hover {
    background-color: var(--sBackground);
    color: white;
    border: 2px solid var(--sBackground);
}

.search-input {
    width: 55%;
    position: relative;
}

.search-input input {
    width: 100%;
    padding-left: 41px;
    box-shadow: none !important;
    border: 2px solid var(--pBackground) !important;
}

.search-input .search-icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    pointer-events: none;
}

.right-side-search {
    display: flex;
    justify-content: flex-end;
}

.table-main {
    background-color: #f7f8f9;
    border: 2px solid var(--pBackground);
    border-radius: 5px;
}

.left-side-filttle {
    color: white;
}

.active-lable {
    background: #2b3f89;
    padding: 0px 10px;
    border-radius: 6px;
    border: 2px solid #2b3f89;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}